#main-content {
  padding-top: 210px !important;
}

#footbar a {
  text-decoration: none;
  color: white;
}

#footbar a:hover {
  text-decoration: none;
}

#section-layanan-1,
#section-layanan-2 {
  padding: 9.5rem 7.5rem;
}

/* Scroll Carousel */
.carousel-md-scroll {
  display: flex;
  scroll-behavior: smooth;
  gap: 10px;
  padding: 20px 0;
  scroll-snap-type: x mandatory;
  user-select: none;
}

.carousel-md-scroll::-webkit-scrollbar {
  height: 8px;
}

.carousel-md-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Banner */
#carousel-banner {
  max-width: 80vw;
  height: 50vh;
}

.carousel-track img {
  object-fit: cover;
  max-width: 80vw;
  width: 100%;
  height: 100%;
}

#carousel-point {
  margin-top: -90px;
}

/* Card Cabang & Testimoni */
#section-4 #section-header,
#cabang #section-header {
  padding: 50px 200px;
}

#section-4 h5,
#cabang h5 {
  font-size: 48px;
}

#card-s4 .card,
#card-cabang .card {
  flex: 0 0 calc(25% - 20px);
  min-width: 300px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  scroll-snap-align: start;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#card-cabang .card-text {
  font-size: 0.8rem;
}

/* TABLET */
@media (max-width: 991px) {
  #section-layanan-1,
  #section-layanan-2 {
    padding: 2rem 1rem;
    font-size: 0.8rem;
  }

  #card-cabang {
    width: 92.7vw;
  }

  #section-4 #section-header,
  #cabang #section-header {
    padding: 20px;
  }

  #section-4 h5,
  #cabang h5 {
    font-size: 18px;
    font-weight: bold;
  }

  #cabang .card-title {
    font-size: 20px !important;
  }

  .carousel-md-scroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px;
    scroll-snap-type: x mandatory;
    user-select: none;
  }

  .carousel-md-scroll::-webkit-scrollbar {
    height: 8px;
  }

  .carousel-md-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  #section-layanan-1,
  #section-layanan-2 {
    padding: 2rem 1rem;
    font-size: 0.8rem;
  }

  #card-cabang .card-text {
    font-size: 0.7rem;
  }

  #carousel-banner {
    max-width: 90vw;
    height: 15vh;
  }

  .carousel-track img {
    width: 100%;
    max-width: 90vw;
    height: calc(30vh - 15vh);
  }

  #carousel-point {
    margin-top: -15px;
  }

  #section-4 #section-header,
  #cabang #section-header {
    padding: 20px;
  }

  #section-4 h5,
  #cabang h5 {
    font-size: 18px;
    font-weight: bold;
  }

  #cabang .card-title {
    font-size: 20px !important;
  }

  .carousel-md-scroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px;
    scroll-snap-type: x mandatory;
    user-select: none;
  }

  .carousel-md-scroll::-webkit-scrollbar {
    height: 8px;
  }

  .carousel-md-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
}
