#main-content {
  padding-top: 210px;
}

#footbar a {
  text-decoration: none;
  color: white;
}

#section-layanan-1 {
  padding: 9.5rem 7.5rem;
}

#section-layanan-2 {
  padding: 9.5rem 7.5rem;
}

#footbar a:hover {
  text-decoration: none;
}

.carousel-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 20px;
  scroll-snap-type: x mandatory;
  user-select: none;
}

.carousel-md-scroll {
  display: flex;
  scroll-behavior: smooth;
  gap: 10px;
  padding: 20px 0;
  scroll-snap-type: x mandatory;
  user-select: none;
}

.carousel-scroll::-webkit-scrollbar {
  height: 8px;
}

.carousel-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

#carousel-banner {
  max-width: 80vw;
  height: 50vh;
}

.carousel-track img {
  object-fit: cover;
  max-width: 80vw;
  width: 100%;
  height: 100%;
}

#carousel-point {
  margin-top: -90px;
}

#carousel-motor::-webkit-scrollbar-track,
#carousel-mobil::-webkit-scrollbar-track {
  background: #fcfcfc;
  border-radius: 10px;
}

#section-2 #section-header,
#section-3 #section-header,
#section-4 #section-header,
#cabang #section-header {
  padding: 50px 200px;
}

#section-2 h5,
#section-3 h5,
#section-4 h5,
#cabang h5 {
  font-size: 48px;
}

#section-2 .card img,
#section-3 .card img,
#section-4 .card img,
#cabang .card img {
  height: 397px;
}

#section-2 .card .card-detail img,
#section-3 .card .card-detail img,
#section-4 .card .card-detail img,
#cabang .card .card-detail img {
  height: 24px;
}

#carousel-mobil .card,
#carousel-motor .card {
  flex: 0 0 calc(33.33% - 20px);
  min-width: 300px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  scroll-snap-align: start;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#carousel-mobil .card-body,
#carousel-mobil .card-body {
  padding: 10px 15px;
}

#card-s4 .card,
#card-cabang .card {
  flex: 0 0 calc(25% - 20px);
  min-width: 300px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  scroll-snap-align: start;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#card-s4 .card-body,
#card-cabang .card-body {
  padding: 10px 15px;
}

/* Card Cabang */
#card-cabang .card-text {
  font-size: 0.8rem;
}
/*  */

@media only screen and (max-width: 600px) {
  #section-layanan-1 {
    padding: 2rem 1rem;
    font-size: 0.8rem;
  }

  #section-layanan-2 {
    padding: 2rem 1rem;
    font-size: 0.8rem;
  }

  /* Card Cabang */
  #card-cabang .card-text {
    font-size: 0.7rem;
  }
  /*  */

  #section-1 {
    margin-bottom: 20px;
  }

  #carousel-banner {
    max-width: 90vw;
    height: 15vh;
  }

  .carousel-track img {
    width: 100%;
    max-width: 90vw;
    height: calc(30vh - 15vh);
  }

  #carousel-point {
    margin-top: -15px;
  }

  #section-2 #section-header,
  #section-3 #section-header,
  #section-4 #section-header,
  #cabang #section-header {
    padding: 20px;
  }

  #section-2 h5,
  #section-3 h5,
  #section-4 h5,
  #cabang h5 {
    font-size: 18px;
    font-weight: bold;
  }

  #section-2 .card img,
  #section-3 .card img,
  #section-4 .card img,
  #cabang .card img {
    height: 246px;
  }

  #section-2 h5.section-price,
  #section-3 h5.section-price,
  #section-4 h5.section-price,
  #cabang h5.section-price {
    font-size: 24px !important;
  }

  #section-2 .card,
  #section-3 .card,
  #section-4 .card,
  #cabang .card {
    margin: 0 !important;
  }

  #section-2 table,
  #section-2 .foot-card,
  #section-3 table,
  #section-3 .foot-card,
  #section-4 table,
  #section-4 .foot-card,
  #cabang table,
  #cabang .foot-card {
    font-size: 8pt;
  }

  #cabang .card-title {
    font-size: 20px !important;
  }

  .carousel-md-scroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px;
    scroll-snap-type: x mandatory;
    user-select: none;
  }

  .carousel-md-scroll::-webkit-scrollbar {
    height: 8px;
  }

  .carousel-md-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
}
