a {
  text-decoration: none;
  color: #111;
  cursor: pointer;
}

body {
  background-color: #f2f2f2;
}

/* article style */
.article-card {
  background-color: #fff;
  transition: box-shadow 0.2s ease-in-out;
}

.article-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.article-img {
  width: 180px;
  height: 120px;
  object-fit: cover;
}

.article-info h5 {
  color: #111;
  font-size: 1rem;
}

.article-info p {
  font-size: 0.95rem;
  line-height: 1.4;
}
