#main-content {
  padding-top: 210px !important;
}

#footbar a {
  text-decoration: none;
  color: white;
}

#footbar a:hover {
  text-decoration: none;
}

.carousel-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: auto;
  gap: 20px;
  padding: 20px;
  scroll-snap-type: none;
  user-select: none;
}

.carousel-md-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: auto;
  gap: 10px;
  padding: 20px;
  scroll-snap-type: none;
  user-select: none;
}

.carousel-scroll::-webkit-scrollbar {
  height: 8px;
}

.carousel-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

#carousel-banner {
  max-width: 90vw;
  height: 55vh;
}

.carousel-track img {
  object-fit: fill;
  max-width: 90vw;
  width: 100%;
  height: 100%;
}

#carousel-point {
  margin-top: -90px;
}

#carousel-motor::-webkit-scrollbar-track,
#carousel-mobil::-webkit-scrollbar-track {
  background: #fcfcfc;
  border-radius: 10px;
}

#section-2 #section-header,
#section-3 #section-header,
#section-4 #section-header,
#section-5 #section-header {
  padding: 50px 200px;
}

#section-2 h5,
#section-3 h5,
#section-4 h5,
#section-5 h5 {
  font-size: 48px;
}

#section-2 .card img,
#section-3 .card img,
#section-4 .card img,
#section-5 .card img {
  height: 397px;
}

#section-2 .card .card-detail img,
#section-3 .card .card-detail img,
#section-4 .card .card-detail img,
#section-5 .card .card-detail img {
  height: 24px;
}

.card .card-detail span {
  font-size: 1em !important;
}

#carousel-mobil .card,
#carousel-motor .card {
  min-width: 25em;
  background: white;
  border-radius: 10px;
  scroll-snap-align: start;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#carousel-mobil .card-body,
#carousel-motor .card-body {
  padding: 10px 15px;
  font-size: 0.7em;
}

#card-s4 .card,
#card-s5 .card {
  flex: 0 0 calc(25% - 20px);
  min-width: 300px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  scroll-snap-align: start;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#card-s4 .card-body,
#card-s5 .card-body {
  padding: 10px 15px;
}

#card-s5 .card-text {
  font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
  #main-content {
    padding-top: 200px !important;
  }

  #section-1 {
    margin-bottom: 20px;
  }

  #carousel-banner {
    max-width: 90vw;
    height: 18vh;
  }

  .carousel-track img {
    width: 100%;
    max-width: 90vw;
    height: calc(33vh - 15vh);
  }

  #carousel-point {
    margin-top: -15px;
  }

  .card .card-detail span {
    font-size: 8pt !important;
  }

  #section-2 #section-header,
  #section-3 #section-header,
  #section-4 #section-header,
  #section-5 #section-header {
    padding: 20px;
  }

  #section-2 h5,
  #section-3 h5,
  #section-4 h5,
  #section-5 h5 {
    font-size: 18px;
    font-weight: bold;
  }

  #section-2 .card img,
  #section-3 .card img,
  #section-4 .card img,
  #section-5 .card img {
    height: 246px;
  }

  #section-2 h5.section-price,
  #section-3 h5.section-price,
  #section-4 h5.section-price,
  #section-5 h5.section-price {
    font-size: 24px !important;
  }

  #section-2 .card,
  #section-3 .card,
  #section-4 .card,
  #section-5 .card {
    margin: 0 !important;
  }

  #section-2 table,
  #section-2 .foot-card,
  #section-3 table,
  #section-3 .foot-card,
  #section-4 table,
  #section-4 .foot-card,
  #section-5 table,
  #section-5 .foot-card {
    font-size: 8pt;
  }

  #section-5 .card-title {
    font-size: 20px !important;
  }

  .carousel-md-scroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: auto;
    gap: 20px;
    padding: 20px;
    scroll-snap-type: none;
    user-select: none;
  }

  .carousel-md-scroll::-webkit-scrollbar {
    height: 8px;
  }

  .carousel-md-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  #section-2 > img:nth-child(1),
  #section-3 > img:nth-child(1) {
    width: 300px !important;
    left: 10px !important;
    top: -30px !important;
  }
  #section-2 > img:nth-child(3),
  #section-3 > img:nth-child(3) {
    width: 300px !important;
    right: 10px !important;
    bottom: -30px !important;
  }
}

@media only screen and (max-width: 1100px) {
  #section-2 #section-header,
  #section-3 #section-header,
  #section-4 #section-header,
  #section-5 #section-header {
    padding: 50px;
  }
}