#main-content {
    padding-top: 210px;
}

#navbar a {
    text-decoration: none;
    color: black;
}

#navbar #menubar a:hover {
    padding-top: 28px;
    border-top: 2px solid red;
}

#footbar a {
    text-decoration: none;
    color: white;
}

#footbar a:hover {
    text-decoration: none;
}

.carousel-scroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px;
    scroll-snap-type: x mandatory;
    user-select: none;
}

.carousel-scroll::-webkit-scrollbar {
    height: 8px;
}

.carousel-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

#carousel-motor::-webkit-scrollbar-track,
#carousel-mobil::-webkit-scrollbar-track {
    background: #fcfcfc;
    border-radius: 10px;
}

#carousel-mobil .card,
#carousel-motor .card {
    flex: 0 0 calc(33.33% - 20px);
    min-width: 300px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    scroll-snap-align: start;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#carousel-mobil .card-body,
#carousel-mobil .card-body {
    padding: 10px 15px;
}

#card-s4 .card {
    flex: 0 0 calc(25% - 20px);
    min-width: 300px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    scroll-snap-align: start;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#card-s4 .card-body {
    padding: 10px 15px;
}