body {
  background-color: #f8f9fa;
}

.card {
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* CARD Setup */
.card img {
  height: 216px;
  object-fit: cover;
}

.card > img {
  flex: 1;
}

.card-text {
  font-size: 0.8rem;
}

@media (min-width: 1400px) {
  .testi-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 394px);
    gap: 0.5rem;
    row-gap: 1rem;
  }

  /* Area khusus untuk card pertama dan terakhir */
  .testi-grid .card:nth-child(1) {
    flex-direction: row;
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .testi-grid .card:nth-child(1) img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  .testi-grid .card:nth-child(1) .card-body {
    flex: 1;
  }

  .testi-grid .card:nth-child(1) .card-text {
    font-size: 0.9rem;
  }

  .testi-grid .card:nth-child(8) {
    flex-direction: row;
    grid-column: 4 / span 3;
    grid-row: 2;
  }

  .testi-grid .card:nth-child(8) img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  .testi-grid .card:nth-child(8) .card-body {
    flex: 1;
  }

  .testi-grid .card:nth-child(8) .card-text {
    font-size: 0.9rem;
  }
}

@media (min-width: 990px) and (max-width: 1399px) {
  .testi-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 394px);
    gap: 0.5rem;
    row-gap: 1rem;
  }
  /* Area khusus untuk card pertama dan terakhir */
  .testi-grid .card:nth-child(1) {
    flex-direction: row;
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .testi-grid .card:nth-child(1) img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  .testi-grid .card:nth-child(1) .card-body {
    flex: 1;
  }

  .testi-grid .card:nth-child(1) .card-text {
    font-size: 0.9rem;
  }

  .testi-grid .card:nth-child(6) {
    flex-direction: row;
    grid-column: 3 / span 3;
    grid-row: 2;
  }

  .testi-grid .card:nth-child(6) img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  .testi-grid .card:nth-child(6) .card-body {
    flex: 1;
  }

  .testi-grid .card:nth-child(6) .card-text {
    font-size: 0.9rem;
  }

  .card-text {
    font-size: 0.65rem;
  }
}

@media (max-width: 989px) {
  .testi-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    row-gap: 1rem;
  }
}
