<link rel="stylesheet" href="../css/global.css" />
<style>
  #footbar a {
    text-decoration: none;
    color: white;
  }

  #footbar a:hover {
    text-decoration: none;
  }
</style>
<div id="footbar" class="d-block">
  <div class="row m-0 p-3 p-md-0" style="background-color: #ea4335">
    <div
      class="col d-flex align-items-center justify-content-center text-center fw-bold text-white"
      style="height: 60px; font-size: 24px; font-weight: bold; color: white"
    >
      Sahabat Jual Beli Motor — Proses Cepat, Tanpa Ribet
    </div>
  </div>
  <div
    class="row m-0 p-4"
    style="background-color: #d40000; position: relative; overflow: hidden"
  >
    <div
      class="col d-flex align-items-center justify-content-center text-white"
      style="min-height: 275px; position: relative; z-index: 10"
    >
      <div class="row justify-content-center">
        <div class="col-12 col-md-2 text-center fw-bold">
          <img
            class="d-none d-md-inline"
            src="../assets/LenyLogoSquarewhite.png"
            alt="logo-desktop"
          />
          <img
            class="d-inline d-md-none p-4"
            src="../assets/LenyLogoHorizontalWhite.png"
            alt="logo-desktop"
          />
        </div>
        <div class="col-12 col-md-3 py-4 fw-lighter">
          <span class="d-block pb-3">
            Leny Motor sebagai Pusat Jual, Beli, Tukar Tambah Motor dan Mobil
            Berkualitas (bergaransi) Terlengkap dan Terpercaya se-Karisidenan
            Kediri.
          </span>
          <span> "Kepuasan Anda Kebanggaan Kami" </span>
        </div>
        <div class="col-12 col-md-2 py-4">
          <span class="d-block pb-3">
            <b> Dealer Utama Kami </b>
          </span>
          <span class="fw-lighter">
            <a href="javascript:void(0)">
              Jl. Kh. Agus Salim 12 Bandar Kidul - Kediri Jawa Timur 64118
            </a>
          </span>
        </div>
        <div class="col-12 col-md-2 py-4">
          <span class="d-block pb-3">
            <b> Pusat Bantuan </b>
          </span>
          <span class="fw-lighter">
            <a href="javascript:void(0)"> FAQ </a>
            <br />
            <a href="article.html"> Leny News </a>
            <br />
            <a href="about.html"> Tentang Kami </a>
          </span>
        </div>
        <div class="col-12 col-md-2 py-4">
          <span class="d-block pb-3">
            <b> Hubungi Kami </b>
          </span>
          <span>
            <span class="d-block fw-bold"> (0354) 774195 </span>
            <span class="d-block fw-lighter"> info@lenymotor.com </span>
            <div class="py-3 d-flex gap-3">
              <a href="javascript:void(0)">
                <img src="../assets/icon/instagram.png" alt="" width="24px" />
              </a>
              <a href="javascript:void(0)">
                <img src="../assets/icon/facebook.png" alt="" width="24px" />
              </a>
              <a href="javascript:void(0)">
                <img src="../assets/icon/youtube.png" alt="" width="24px" />
              </a>
              <a href="javascript:void(0)">
                <img src="../assets/icon/tiktok.png" alt="" width="24px" />
              </a>
            </div>
          </span>
        </div>
      </div>
    </div>
    <img
      src="../assets/SGFooter.png"
      alt="SGFooter"
      style="width: 400px; position: absolute; right: 0px; bottom: -10px"
    />
  </div>
  <div
    class="row m-0 p-2 text-center d-block"
    style="background-color: #1e1e1e; color: white; font-size: 14px"
  >
    <div class="col">
      <span> Copyright © 2025 Leny Motor. All rights reserved. </span>
    </div>
  </div>
</div>
