<link rel="stylesheet" href="../css/navbar.css">

<nav class="fixed-top shadow-sm" id="navbar">
    <div class="d-none d-md-block">
        <div class="row" style="background-color: #D40000;">
            <div class="col d-flex align-items-center justify-content-center text-center fw-bold text-white"
                style="height: 30px;">
                HATI-HATI PENIPUAN YANG MENGATASNAMAKAN LENY MOTOR! | KAMI TIDAK MENERIMA TRANSAKSI SELAIN DI KASIR.
            </div>
        </div>
        <div class="row border-bottom " style="height: 100px;background-color: white;">
            <div class="col-3 d-flex align-items-center justify-content-center text-center">
                <img src="../assets/Leny Logo Horizontal 1.png" alt="">
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center text-center">
                <div class="input-group">
                    <span class="input-group-text" id="labelSearch"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" id="txtSearch" placeholder="Lagi cari kendaraan apa?"
                        aria-label="Lagi cari kendaraan apa?" aria-describedby="labelSearch">
                </div>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-center text-center">
                <div class="row w-100">
                    <div class="col-4 border-end text-center">
                        <i class="far fa-star" style="cursor: pointer;"></i>
                    </div>
                    <div class="col-6">
                        <a href="javascript:void(0)"><i class="far fa-user"></i>&nbsp;Login</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex align-items-center justify-content-center text-center" id="menubar"
            style="background-color: white;">
            <div class="col col-6 d-flex align-items-center justify-content-center text-center" style="height: 80px;">
                <table style="width: 100%;">
                    <tr style="height: 50px;">
                        <td class="text-center">
                            <a href="javascript:void(0)" class="ps-2 pe-2 productmobilPage">Mobil</a>
                        </td>
                        <td class="text-center border-end">
                            <a href="product.html?category=motor" class="ps-2 pe-2 productmotorPage">Motor</a>
                        </td>
                        <td class="text-center">
                            <a href="promo.html" class="ps-2 pe-2">Promo</a>
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="ps-2 pe-2">Produk Finance</a>
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="ps-2 pe-2">Leny News</a>
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="ps-2 pe-2">Testimoni</a>
                        </td>
                        <td class="text-center">
                            <a href="javascript:void(0)" class="ps-2 pe-2">Tentang Kami</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="mobile d-block d-md-none" style="background-color: white;">
        <div class="row" style="background-color: #D40000;">
            <div class="col d-flex align-items-center justify-content-center text-center fw-bold text-white"
                style="height: 30px;overflow: hidden;">
                HATI-HATI PENIPUAN YANG MENGATASNAMAKAN LENY MOTOR! | KAMI TIDAK MENERIMA TRANSAKSI SELAIN DI KASIR.
            </div>
        </div>
        <div class="row" style="height: 70px;">
            <div class="col d-flex align-items-center justify-content-center text-center">
                <a href="javascript:void(0)" id="btnNavbar"><i class="fas fa-bars"></i></a>
            </div>
            <div class="col-7 d-flex align-items-center justify-content-center text-center">
                <img src="../assets/Leny Logo Horizontal 1.png" alt="">
            </div>
            <div class="col d-flex align-items-center justify-content-center text-center">
                <a href="javascript:void(0)"><i class="far fa-user"></i></a>
            </div>
        </div>
        <hr class="m-0 p-0 mt-2">
        <div class="row mt-1 mb-1 ms-2 me-2" style="height: 62px">
            <div class="col d-flex align-items-center justify-content-center text-center">
                <div class="input-group">
                    <span class="input-group-text" id="labelSearchMob" style="border-radius: 100px 0px 0px 100px ;"><i
                            class="fa fa-search"></i></span>
                    <input type="text" class="form-control" id="txtSearchMob" placeholder="Lagi cari kendaraan apa?"
                        aria-label="Lagi cari kendaraan apa?" aria-describedby="labelSearchMob"
                        style="background-color: #EFEFEF;border-radius: 0px 100px 100px 0px;">
                </div>
            </div>
        </div>
    </div>
</nav>

<div id="overlay"></div>

<nav class="fixed-bottom shadow-sm" id="navbarmob" style="height: 75vh;background-color: white;">
    <div class="text-center" id="btnCloseMenubar" style="height: 5%;background-color: #EA4335;color: white;">
        <b>Tutup</b> <i class="fa fa-times"></i>
    </div>
    <div class="profilnav row d-flex align-items-center justify-content-center"
        style="height: 30%;background-color: #D40000;color: white;">
        <div class="col-10">
            <span class="d-block pb-3 ps-2 pe-2">
                <b> Hubungi Kami </b>
            </span>
            <span>
                <span class="d-block ps-2 pe-2 pb-1"> <b>(0354) 774195</b> </span>
                <span class="d-block ps-2 pe-2 pb-2" style="text-decoration: underline;"> info@lenymotor.com </span>
                <a href="javascript:void(0)" class="ps-2 pe-2">
                    <img src="../assets/icon/instagram.png" alt="" width="22px" />
                </a>
                <a href="javascript:void(0)" class="ps-2 pe-2">
                    <img src="../assets/icon/facebook.png" alt="" width="22px" />
                </a>
                <a href="javascript:void(0)" class="ps-2 pe-2">
                    <img src="../assets/icon/youtube.png" alt="" width="22px" />
                </a>
                <a href="javascript:void(0)" class="ps-2 pe-2">
                    <img src="../assets/icon/tiktok.png" alt="" width="22px" />
                </a>
            </span>
        </div>
    </div>

    <div class="row d-flex align-items-center justify-content-center text-center pt-4" id="menubarmob">
        <div class="col col-10 d-flex align-items-center justify-content-center text-center">
            <table style="width: 100%;">
                <tr style="height: 50px;">
                    <td style="text-align: left;">
                        <a href="javascript:void(0)" class="ps-2 pe-2" style="border-left: 2px solid #D40000;">Mobil</a>
                    </td>
                </tr>
                <tr style="height: 50px;">
                    <td class="border-bottom" style="text-align: left;">
                        <a href="javascript:void(0)" class="ps-2 pe-2">Motor</a>
                    </td>
                </tr>
                <tr style="height: 50px;">
                    <td style="text-align: left;">
                        <a href="javascript:void(0)" class="ps-2 pe-2">Promo</a>
                    </td>
                </tr>
                <tr style="height: 50px;">
                    <td style="text-align: left;">
                        <a href="javascript:void(0)" class="ps-2 pe-2">Produk Finance</a>
                    </td>
                </tr>
                <tr style="height: 50px;">
                    <td style="text-align: left;">
                        <a href="javascript:void(0)" class="ps-2 pe-2">Leny News</a>
                    </td>
                </tr>
                <tr style="height: 50px;">
                    <td style="text-align: left;">
                        <a href="javascript:void(0)" class="ps-2 pe-2">Testimoni</a>
                    </td>
                </tr>
                <tr style="height: 50px;">
                    <td style="text-align: left;">
                        <a href="javascript:void(0)" class="ps-2 pe-2">Tentang Kami</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</nav>

<script src="../js/navbar.js"></script>